{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <a class="btn btn-primary" href="{% url 'blog:blog_create' %}" role="button">Добавить
            блог</a>
        {% for blog in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ blog.title | capfirst }}</h4>
                </div>
                <img src="{{ blog.preview | media_filter }}" height="400">
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'blog:blog_detail' blog.pk%}" role="button">Подробнее</a>
                    <a class="btn btn-primary" href="{% url 'blog:blog_update' blog.pk%}"
                       role="button">Редактировать</a>
                </div>
                <a class="btn btn-primary" href="{% url 'blog:blog_delete' blog.pk%}" role="button">Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}