{% extends 'catalog/home.html' %}
{% block content %}
<div class="col-12">
    <form class='row' method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Восстановление пароля
                    </h2>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <button class="p-2 btn btn-outline-primary" type="submit">Отправить новый пароль на электронную
                            почту
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}