{% extends 'home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <img src="{{ product.preview | media_filter }}">
                <div class="card-body">
                    <p class="text-md-start">Описание: {{product.description | truncatechars:100 | capfirst}}</p>
                    <p class="text-md-start">Категория: {{product.category | title}}</p>
                    <p class="text-md-start">Цена: {{product.price}} руб. </p>
                    <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}