{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% if user.is_authenticated %}
        <a class="btn btn-primary mb-3" href="{% url 'catalog:product_create' %}" role="button">Добавить
            продукт</a>
        {% endif %}
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name | capfirst }} </h4>
                    <h4 class="my-0 font-weight-normal"> Версия: {{product.version}} </h4>
                </div>
                <img src="{{ product.preview | media_filter }}" height="400">
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}